---
import PageLayout from "@/layouts/PageLayout.astro";
import YouTube from "@components/YouTube.astro";
import { Image } from "astro:assets";
import UseCasesImage from "@/assets/features/storeflow/usecases.png";
import Card from "@/components/Card.astro";
const { frontmatter: content } = Object.values(
  import.meta.glob<{ frontmatter: any }>("@/content/features/storeflow.mdx", {
    eager: true,
  })
)[0];
---

<PageLayout>
  <section class="grid gap-8 grid-cols-1 xl:grid-cols-2 mt-8">
    <div>
      <p class="font-bold text-[70px] leading-[1] text-white">
        {content.title}
      </p>
      <p class="text-secondary mt-16 text-lg">
        {content.description}
      </p>

      <div class="mt-8 flex gap-8">
        <a href={content.button.href} class="button-primary" target="_blank">
          {content.button.label}
        </a>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <YouTube url={content.video.url} title={content.video.title} />
    </div>
  </section>

  <section class="mt-32 grid grid-cols-1 xl:grid-cols-2 gap-8">
    <Image src={UseCasesImage} alt={content.useCases.description} />
    <div class="flex flex-col items-start gap-4">
      <p class="font-bold text-[70px] leading-[1] text-white">
        {content.useCases.title}
      </p>
      <ul class="ml-8 list-disc list-inside text-secondary">
        {content.useCases.list.map((item: string) => <li>{item}</li>)}
      </ul>
    </div>
  </section>

  <section class="mt-32">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
      {
        content.cards?.map((card: any) => (
          <Card
            title={card.title}
            description={card.description}
            icon={card.icon}
          />
        ))
      }
    </div>
  </section>

  <section class="mt-32">
    <p
      class="font-bold text-5xl text-white text-center"
      set:html={content.sayYep.title}
    />
    <div class="mt-8 flex justify-center items-center gap-4">
      {
        content.sayYep.buttons.map((btn: any) => (
          <a
            href={btn.href}
            class={
              btn.style === "primary" ? "button-primary" : "button-secondary"
            }
          >
            {btn.label}
          </a>
        ))
      }
    </div>
  </section>
</PageLayout>
