---
import PageLayout from "@/layouts/PageLayout.astro";
import { Tabs, TabItem, Code } from "@astrojs/starlight/components";
import ycRunJsExampleCode from "../assets/home/code-examples/yepcode-run.js?raw";
import ycRunPyExampleCode from "../assets/home/code-examples/yepcode-run.py?raw";
import ycRunCurlExampleCode from "../assets/home/code-examples/yepcode-run.sh?raw";
import { Image } from "astro:assets";
import yepcodeBlinkLogo from "../../public/blink-logo.svg";
import ImageSlider from "@components/ImageSlider.astro";
import mcpImage from "../assets/home/images/mcp.svg";
import { Icon } from "astro-icon/components";
import Card from "@components/Card.astro";
import YouTube from "@components/YouTube.astro";
import Accordion from "@/components/Accordion.astro";
import CardSlider from "@/components/CardSlider.astro";
import ImageTabs from "@/components/ImageTabs.astro";
const { frontmatter: content } = Object.values(
  import.meta.glob<{ frontmatter: any }>("../content/index.mdx", {
    eager: true,
  })
)[0];
---

<PageLayout>
  <section class="grid gap-8 grid-cols-[2fr_1fr] mt-20">
    <div>
      <p
        class="font-bold text-[6.5vh] leading-[1] text-white"
        set:html={content.hero.title}
      />
      <div
        class="text-secondary mt-16 text-lg"
        set:html={content.hero.description.mdToHtml()}
      />
      <div class="mt-8 flex gap-8">
        {
          content.hero.buttons.map((btn: any) => (
            <a
              href={btn.href}
              class={
                btn.style === "primary" ? "button-primary" : "button-secondary"
              }
              target="_blank"
            >
              {btn.label}
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex justify-center items-center">
      <Image src={yepcodeBlinkLogo} alt="YepCode Blink Logo" />
    </div>
  </section>
  <section class="mt-28">
    <div class="flex flex-col gap-4 text-[18px] items-center justify-center">
      <span>{content.trust.label}</span>
      <ImageSlider class="max-w-full" images={content.trust.images} />
    </div>
  </section>
  <section class="mt-32">
    <p
      class="font-bold text-5xl text-white"
      set:html={content.integration.title}
    />
    <div
      class="text-secondary mt-8 text-lg"
      set:html={content.integration.description.mdToHtml()}
    />
    <div class="mt-16">
      <Tabs syncKey="yc-run-code">
        <TabItem label="JavaScript" icon="seti:javascript">
          <Code code="npm install @yepcode/run" lang="sh" frame="none" />
          <Code class="mt-2" code={ycRunJsExampleCode} lang="js" />
        </TabItem>
        <TabItem label="Python" icon="seti:python">
          <Code code="pip install yepcode-run" lang="sh" frame="none" />
          <Code class="mt-2" code={ycRunPyExampleCode} lang="py" />
        </TabItem>
        <TabItem label="Curl" icon="seti:shell">
          <Code code={ycRunCurlExampleCode} lang="sh" frame="none" />
        </TabItem>
      </Tabs>
    </div>

    <div class="mt-6 flex justify-center items-center">
      <a
        href={content.integration.apiTokenButton.href}
        class="button-primary"
        target="_blank"
      >
        {content.integration.apiTokenButton.label}
      </a>
    </div>

    <div class="mt-16 grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="flex items-center flex-col gap-4">
        <Image src={mcpImage} alt="MCP Logo" />
        <div
          class="text-secondary text-md"
          set:html={content.integration.mcp.description.mdToHtml()}
        />
      </div>
      <div class="flex items-center flex-col gap-4">
        <h2>{content.integration.rest.title}</h2>
        <div
          class="text-secondary text-md"
          set:html={content.integration.rest.description.mdToHtml()}
        />
      </div>
    </div>
  </section>

  <section class="mt-40">
    <div class="flex justify-between items-center gap-4 flex-col lg:flex-row">
      <p
        class="font-bold text-5xl text-white"
        set:html={content.automation.title}
      />
      <a
        href={content.automation.button.href}
        class="border-2 border-[#ffffff1a] font-semibold p-4 rounded-xl hover:bg-[#121220] min-w-fit"
        target="_blank"
      >
        {content.automation.button.label}
      </a>
    </div>
    <YouTube
      url={content.automation.video.url}
      title={content.automation.video.title}
      class="mt-4"
    />
  </section>

  <section class="mt-32">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
      {
        content.cards?.map((card: any) => (
          <Card
            title={card.title}
            description={card.description}
            icon={card.icon}
          />
        ))
      }
    </div>
  </section>

  <section class="mt-40">
    <p
      class="font-bold text-5xl text-white"
      set:html={content.howItWorks.title}
    />
    <ImageTabs tabs={content.howItWorks.tabs} class="mt-16" />
  </section>

  <section id="yt-demo" class="mt-32">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
      <div class="flex flex-col items-center xl:items-end justify-center gap-2">
        <h2 class="text-primary leading-[1.2]">{content.ytDemo.title}</h2>
        <div class="flex items-center gap-2">
          <Icon name="clock" class="size-4 text-tertiary" />
          <p class="text-tertiary">{content.ytDemo.video.duration}</p>
        </div>
      </div>
      <div class="flex justify-center xl:block">
        <YouTube
          url={content.ytDemo.video.url}
          title={content.ytDemo.video.title}
          class="max-w-sm"
        />
      </div>
    </div>
  </section>

  <section id="clients" class="mt-40">
    <p
      class="font-bold text-5xl text-white text-center"
      set:html={content.clients.title}
    />
    <CardSlider class="mt-12" cards={content.clients.reviews} />
  </section>

  <section class="mt-32">
    <p
      class="font-bold text-5xl text-white text-center"
      set:html={content.leverage.title}
    />
    <div
      class="text-secondary mt-16 text-lg text-center max-w-4xl mx-auto"
      set:html={content.leverage.description.mdToHtml()}
    />
    <div class="mt-8 flex justify-center items-center gap-4">
      {
        content.leverage.buttons.map((btn: any) => (
          <a
            href={btn.href}
            class={
              btn.style === "primary" ? "button-primary" : "button-secondary"
            }
          >
            {btn.label}
          </a>
        ))
      }
    </div>

    <ImageSlider
      class="mt-16 max-w-full"
      variant="secondary"
      images={content.leverage.images}
    />
  </section>

  <section class="mt-40">
    <div class="flex justify-between items-center gap-4 flex-col lg:flex-row">
      <p
        class="font-bold text-5xl text-white"
        set:html={content.usecases.title}
      />
      <a
        href={content.usecases.button.href}
        class="border-2 border-[#ffffff1a] font-semibold p-4 rounded-xl hover:bg-[#121220] min-w-fit"
        target="_blank"
      >
        {content.automation.button.label}
      </a>
    </div>
    <div
      class="mt-12 p-8 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-12"
    >
      {
        content.usecases.cards.map((card: any) => (
          <a class="flex flex-col gap-2" href={card.href}>
            <img src={card.image} alt={card.title} class="rounded-3xl" />
            <h3>{card.title}</h3>
            <p class="text-secondary">{card.description}</p>
          </a>
        ))
      }
    </div>
  </section>

  <section class="mt-40">
    <p
      class="font-bold text-5xl text-white text-center"
      set:html={content.sayYep.title}
    />
    <div class="mt-8 flex justify-center items-center gap-4">
      {
        content.sayYep.buttons.map((btn: any) => (
          <a
            href={btn.href}
            class={
              btn.style === "primary" ? "button-primary" : "button-secondary"
            }
          >
            {btn.label}
          </a>
        ))
      }
    </div>
  </section>

  <section class="mt-44">
    <p
      class="font-bold text-5xl text-white text-center"
      set:html={content.faqs.title}
    />
    <div class="mt-8 flex flex-col gap-2">
      {
        content.faqs.questions.map((faq: any) => (
          <Accordion
            title={faq.title.mdToHtml()}
            details={faq.description.mdToHtml()}
          />
        ))
      }
    </div>
    <div
      class="mt-4 flex justify-center items-center text-secondary hover:text-primary"
      set:html={content.faqs.moreFaqs.mdToHtml()}
    />
  </section>
</PageLayout>
