---
import PageLayout from "@/layouts/PageLayout.astro";
const { frontmatter: content } = Object.values(
  import.meta.glob<{ frontmatter: any }>("@/content/terms-of-use.mdx", {
    eager: true,
  })
)[0];
---

<PageLayout>
  <section>
    <div class="flex flex-col items-start justify-center gap-4 flex-1">
      <p class="font-bold text-[50px] leading-[1.2] text-white">
        {content.title}
      </p>
      <p class="text-secondary">
        Last updated: {content.lastUpdated}
      </p>
    </div>
  </section>
  {
    content.content.map((item: any) => {
      const key = Object.keys(item)[0];
      const section = item[key];
      return (
        <section class="mt-8">
          <div class="flex flex-col items-start justify-center gap-4 flex-1">
            <h2>{section.title}</h2>
            <div
              class="md-to-html text-secondary leading-7"
              set:html={section.description.mdToHtml()}
            />
          </div>
          {section.list && (
            <div class="mt-4 text-secondary">
              <ol class="list-decimal space-y-2 ml-12 leading-7">
                {section.list.map((item: string) => (
                  <li>{item}</li>
                ))}
              </ol>
            </div>
          )}
          {section.conclusion && (
            <div class="mt-4 text-secondary leading-7">
              <p>{section.conclusion}</p>
            </div>
          )}
        </section>
      );
    })
  }
</PageLayout>
