---
import YepCodeLogo from "../../public/logo.svg";
import { Image } from "astro:assets";
import soc2Image from "@assets/footer/soc2.webp";
import gdprImage from "@assets/footer/gdpr.svg";
import { Icon } from "astro-icon/components";
const { frontmatter: content } = Object.values(
  import.meta.glob<{ frontmatter: any }>("@/content/footer.mdx", {
    eager: true,
  })
)[0];

const today = new Date();
---

<footer class="mt-16">
  <div
    class="p-4 grid grid-cols-1 xl:grid-cols-5 gap-8 border-b-1 border-white/10 pb-8"
  >
    <div class="flex flex-col gap-4 min-w-fit">
      <Image src={YepCodeLogo} alt="YepCode logo" class="flex-shrink-0" />
      <p class="text-secondary">Compliance</p>
      <a class="flex gap-2" href="https://trust.yepcode.io/" target="_blank">
        <Image src={soc2Image} alt="Soc2" class="size-20 flex-shrink-0" />
        <Image src={gdprImage} alt="GDPR" class="size-20 flex-shrink-0" />
      </a>
      <a
        href="https://www.producthunt.com/products/yepcode/reviews?utm_source=badge-product_rating&utm_medium=badge&utm_souce=badge-yepcode"
        target="_blank"
        ><img
          src="https://api.producthunt.com/widgets/embed-image/v1/product_rating.svg?product_id=475302&theme=dark"
          alt="YepCode - Enterprise-ready integration platform for developers | Product Hunt"
          class="grayscale"
        /></a
      >
      <a
        href="https://www.capterra.com/reviews/240484/YepCode?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge"
        ><img
          src="https://assets.capterra.com/badge/771c974bfc50c0c59ea9364eab161825.svg"
          alt="YepCode - Enterprise-ready integration platform for developers | Capterra"
          class="grayscale"
        /></a
      >
    </div>

    {
      content.columns.map((column: any) => (
        <div class="flex flex-col gap-4">
          <h3>{column.title}</h3>
          {column.links.map((link: any) => (
            <a href={link.href}>{link.title}</a>
          ))}
        </div>
      ))
    }
  </div>
  <div class="flex justify-between items-center p-4">
    <p class="text-tertiary">&copy; YepCode {today.getFullYear()}</p>
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/company/yepcode" target="_blank">
        <Icon name="linkedin" class="size-6 hover:text-white" />
      </a>
      <a href="https://x.com/yepcode_io" target="_blank">
        <Icon name="twitter" class="size-6 hover:text-white" />
      </a>
      <a href="https://www.youtube.com/@yepcode" target="_blank">
        <Icon name="youtube" class="size-6 hover:text-white" />
      </a>
      <a href="https://github.com/yepcode" target="_blank">
        <Icon name="github" class="size-6 hover:text-white" />
      </a>
    </div>
  </div>
</footer>
