---
interface Props {
  headers: string[];
  rows: string[][];
}

const { headers, rows } = Astro.props;

const baseCell = "px-8 py-4 border border-white/20";
const headCell = `${baseCell} text-primary font-bold`;
const bodyCell = `${baseCell} text-secondary`;
---

<div
  class="rounded-3xl bg-darker-background overflow-hidden border border-white/20"
>
  <table class="border-collapse">
    <thead>
      <tr>
        {headers.map((header) => <th class={headCell}>{header}</th>)}
      </tr>
    </thead>
    <tbody>
      {
        rows.map((row) => (
          <tr>
            {row.map((cell) => (
              <td class={bodyCell}>{cell}</td>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
