---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import YouTube from "@components/YouTube.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
const { frontmatter: content } = Object.values(
  import.meta.glob<{ frontmatter: any }>(
    "../../../content/features/forms/index.mdx",
    {
      eager: true,
    }
  )
)[0];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="grid gap-8 grid-cols-1 md:grid-cols-2 mt-8">
        <div>
          <p class="font-bold text-[70px] leading-[1] text-white">
            {content.title}
          </p>
          <p class="text-white/70 mt-16 text-lg">
            {content.description}
          </p>

          <div class="mt-8 flex gap-8">
            <a
              href={content.button.href}
              class="border-2 border-[#ffffff1a] font-semibold p-4 rounded-xl hover:bg-[#121220]"
              target="_blank"
            >
              {content.button.label}
            </a>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <YouTube url={content.video.url} title={content.video.title} />
        </div>
      </section>
      <Footer />
    </main>
  </body>
</html>
